@import '../../app.scss';

.footer-container {
    width: 100vw;
    background-color: $color-deep-purple;
    .image-container{
        display: flex;
        justify-content: space-between;
        background-color: $color-deep-purple;
        img{
            margin: 0 30px;
            width: 30vw !important;
            height:auto;
            object-fit: cover;
            background-color: $color-deep-purple;
        }
    }
}